#center{
	position:absolute;
	width:1166px;
	height:1400px;
	left:50%;
	margin-left:-583px;
	top:200px;
}
#banner{
	width:1166px;
	height:300px;
	position:absolute;
	left:50%;
	margin-left:-583px;
    top:0px;
}
#left{
	position:absolute;
	width:240px;
	height:800px;
	left:50%;
	margin-left:-583px;
	top:320px;
	float:left;
}
#right{
	width:926px;
	height:800px;
	position:absolute;
	left:50%;
	margin-left:-343px;
	top:320px;

}
#scroll{
	width:1166px;
	height:200px;
	position:absolute;
	left:50%;
	margin-left:-583px;
	top:1120px;
}
#show{
    position:absolute;
	left:50%;
	margin-left:-583px;
	width:1166px;
	height:200px;
	overflow: hidden;
}
#show ul{
	position:absolute;
	margin:0px;
	margin-left:-40px;
	width:3200px;
	height:200px;
}

