#center{
	width: 1166px;
	height: 1100px;
	position: absolute;
	left: 50%;
	top: 170px;
	margin-left: -583px;
	
}
#left{
	width:240px;
	height: 800px;
	position: absolute;
	left:50%;
	*top: 20px;
	margin-left: -583px;
}
#right{
	width:895px;
	height: 700px;
	position: absolute;
	left:50%;
	top: 20px;
	margin-left: -313px;
	}
.show{
	display: none;
}
#scroll{
	width: 1100px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
#vnb{
	width: 1100px;
	height:200px;
	position: absolute;
	top: 830px;
	left: 50%;
	margin-left: -550px;
}